{{#if session.isAuthenticated}}

  <div class="jumbotron text-center">
    <p>Search for any Bio, Fair trade and Km 0 item</p>

    <div class="form-horizontal form-group form-group-lg row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      {{input value=itemName class="form-control" placeholder="Please type your search" autofocus="autofocus"}}
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'searchItems' itemName}}>Search</button>
      </div>
    </div>

    <div class="row">
      {{#each results as |item|}}
        <div class="col-md-4">
          {{#item/-item item=item}}
            <button class="btn btn-success btn-sm" {{action 'addToShoppingCart' item}}>Add to Cart</button>
          {{/item/-item}}
        </div>
      {{/each}}
    </div>

    {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}
  </div>
  
{{else}}

  <div class="jumbotron text-center">
    <p>Mensaje de bienvenida. Explicación de que va esta web</p>
  </div>
  <div class="well col-xs-6">
      <p class="lead">Register now for <span class="text-success">FREE</span></p>
      <ul class="list-unstyled" style="line-height: 2">
          <li><span class="fa fa-check text-success"></span> See all your orders</li>
          <li><span class="fa fa-check text-success"></span> Fast re-order</li>
          <li><span class="fa fa-check text-success"></span> Save your favorites</li>
          <li><span class="fa fa-check text-success"></span> Fast checkout</li>
          <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
          <li><a href="/read-more/"><u>Read more</u></a></li>
      </ul>
      <p><a href="/new-customer/" class="btn btn-info btn-block">Link para registrarse</a></p>
  </div>

{{/if}}

