<div class="panel panel-default library-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.name}}</h3>
    </div>
    <div class="panel-body">
        <p>Price: {{item.price}}</p>
        <p>Description: {{item.description}}</p>
        <p>Categories:
            <ul>
                {{#each item.categories as |cat|}}
                    <li>{{cat.name}}</li>
                {{/each}}
            </ul>
        </p>
    </div>
    <div class="panel-footer text-right">
      {{yield}}
    </div>
</div>