{{#bs-navbar type="inverse" class="navbar-fixed-top" as |navbar|}}

  <div class="navbar-header">
    {{#navbar.toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/navbar.toggle}}
    {{link-to 'Ecool Market' 'index' class="navbar-brand"}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}

    <button type="button" class="btn btn-default navbar-btn navbar-right" {{action 'openCheckout'}}>Shopping cart
      <span class="badge">{{shoppingCart.items.length}}</span>
    </button>

    <ul class="nav navbar-nav">
      {{#bs-dropdown tagName="li" as |dd|}}
        {{#dd.toggle}}Admin <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}{{link-to 'Categories' 'admin.categories'}}{{/ddm.item}}
          {{#ddm.item}}{{link-to 'Contacts' 'admin.contacts'}}{{/ddm.item}}
          {{#ddm.item}}{{link-to 'Users' 'admin.users'}}{{/ddm.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </ul>


    {{#if session.isAuthenticated}}
        <button {{action "signOut"}} class='navbar-right btn btn-default navbar-btn'>Sign out</button>
    {{/if}}
  {{/navbar.content}}
{{/bs-navbar}}
