{{#if session.isAuthenticated}}

  <h1>Categories Admin Page</h1>

  <div class="well well-sm">
  	{{#bs-form formLayout="inline" onSubmit=(action "addNewCategory") model=newCategory as |form|}}
    	{{!form.group validation=firstNameValidation}}
    		{{form.element controlType="text" label="New category" placeholder="Category name" property="name"}}
    	{{!/form.group}}
      {{bs-button defaultText="Add" type="primary" buttonType="submit"}}
    {{/bs-form}}
  </div>

  {{#if newCategory.isError}}
    Error!!
    {{#each newCategory.errors as |error|}}
      {{error}}
    {{/each}}
  {{/if}}

  <table class="table table-striped">
    <caption>List of categories</caption>
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each categories as |category|}}
      {{#unless category.isNew}}
        <tr>
          <td {{action 'editCategory' category}}>
            {{#if category.isEditing}}
              {{input value=category.name}}
              {{#bs-button onClick=(action "updateCategory" category)}}Save{{/bs-button}}
            {{else}}
              {{category.name}}
            {{/if}}
          </td>
          <td>
            {{#bs-button class="btn btn-xs btn-danger" onClick=(action "deleteCategory" category)}}Del{{/bs-button}}
            {{#bs-button class="btn btn-xs btn-success" onClick=(action "editCategory" category)}}Edit{{/bs-button}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
    </tbody>
  </table>
  
{{else}}
    Que haces aqui???
{{/if}}