<h1>Products</h1>

<p class="well well-sm">Add new product.</p>

<div class="form-group has-feedback {{if model.isValidName 'has-success'}}">
	<label>Name*:</label>
  {{input type="text" value=model.name class="form-control" placeholder="Product name" autofocus="autofocus"}}
  {{#if model.isValidName}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
</div>

<div class="form-group has-feedback">
	<label>Description*:</label>
  {{textarea value=description class="form-control" placeholder="Product description. (At least 5 characters.)" rows="7"}}
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
</div> 

<div class="form-group has-feedback">
	<label>Price*:</label>
  {{input type="text" value=model.price class="form-control" placeholder="Product price" autofocus="autofocus"}}
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
</div>
  	
<button class="btn btn-success" disabled={{model.isNotValid}} {{action 'addProduct'}}>Add Product</button>


<p class="well well-sm">All your products.</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |product|}}
    <tr>
      <th>{{product.name}}</th>
      <td>{{product.price}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>