{{#if session.isAuthenticated}}

  <h1>Roles Admin Page</h1>

  <div class="well well-sm">
  	{{#bs-form formLayout="inline" onSubmit=(action "addNewRole") model=newRole as |form|}}
    	{{!form.group validation=firstNameValidation}}
    		{{form.element controlType="text" label="New role" placeholder="Role name" property="name"}}
    	{{!/form.group}}
      {{bs-button defaultText="Add" type="primary" buttonType="submit"}}
    {{/bs-form}}
  </div>

  {{#if newRole.isError}}
    Error!!
    {{#each newRole.errors as |error|}}
      {{error}}
    {{/each}}
  {{/if}}

  <table class="table table-striped">
    <caption>List of roles</caption>
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each roles as |role|}}
      {{#unless role.isNew}}
        <tr>
          <td {{action 'editRole' role}}>
            {{#if role.isEditing}}
              {{input value=role.name}}
              {{#bs-button onClick=(action "updateRole" role)}}Save{{/bs-button}}
            {{else}}
              {{role.name}}
            {{/if}}
          </td>
          <td>
            {{#bs-button class="btn btn-xs btn-danger" onClick=(action "deleteRole" role)}}Del{{/bs-button}}
            {{#bs-button class="btn btn-xs btn-success" onClick=(action "editRole" role)}}Edit{{/bs-button}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
    </tbody>
  </table>
  
{{else}}
    Que haces aqui???
{{/if}}