{{#if session.isAuthenticated}}
  
	<h1>Users and roles</h1>

	<div class="row">
	  <div class="col-md-4">{{number-box title="Roles" number=roles.length}}</div>
	  <div class="col-md-4">{{number-box title="Users" number=users.length}}</div>
	</div>
	
	{{#each users as |user|}}
      {{user.email}}
   {{/each}}

	{{outlet}}
{{else}}
    Que haces aqui???
{{/if}}

